.tasksContainer {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: aqua;
  padding: 20px;
  margin: 20px 20px;
  color: red;
}


.cardCeckbox {
  width: 30px;
  height: 30px;
}

.card {
  width: 18rem
}

.checkedTaskCard {
  border: 2px solid red !important;
}