.div1{
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    background-color:	rgb(54,69,79);
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: -5px -5px 30px 5px grey, -5px -5px 30px 5px gray;
}
.taskdescription{
    margin-right: 300px;
}
.danger{
    margin-left: 45%;
    margin-top: 7%;
}
.tasktitle{
    text-align: center;
   font-size: 30px;
    

}
