.header{
    background-color: darkgrey;
}
.body{
    background-color: lightgray;
    box-shadow: -5px -5px 30px 5px grey, -5px -5px 30px 5px blue!important;
}
.footer{
    background-color: darkgrey !important;
}
.title{
    color: white !important;
    margin-left: 40%;
    font-size: 35px !important;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    
}
.description{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
.startData{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
.finishData{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important
}
.developer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important
}
.developer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important
}
.radio{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important
}
